@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppinsita";
  src: url("../../public/fonts/Poppins-Italic.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
}

.main-page-box {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.page-box {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.boxed-section {
  display: flex;
  flex-direction: row;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
