.left-hero-box {
    width: 70%;
    z-index: 1;
    height: 100vh;
    box-sizing: border-box;
}

.right-hero-box {
    width: 55%;
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    box-sizing: border-box;
}

.hero-footer-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
    padding: 5px 10px;
    background: linear-gradient(to bottom right, var(--greycorp-100), var(--greycorp-300));
    box-sizing: border-box;
    font-size: smaller;
    z-index: 1;
    text-align: justify;
}

#about-me-subtitle {
    font-family: var(--poppins-reg);
    font-weight: 700;
    font-size: medium;
}

#about-me-button {
    background-color: transparent;
    cursor: pointer;
    z-index: 300;
    padding: 0 10px 0 10px;
    color: var(--bluecorp-500);
    border-radius: 0px;
    border-left: 3px solid var(--bluecorp-700);
    border-right: 3px solid var(--bluecorp-700);
    transition: all 0.3s;
    margin-top: 10px;
}

#about-me-button:hover {
    color: var(--bluecorp-700);
    border-top: 3px solid var(--bluecorp-700);
    border-bottom: 3px solid var(--bluecorp-700);
    border-left: none;
    border-right: none;
    scale: 1.05;
}

.main-big-pic {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.social-media-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.logo-social-box {
    background: linear-gradient(to bottom right, var(--bluecorp-300), var(--bluecorp-500));
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
}

.hero-section-welcome {
    font-family: var(--poppins-reg);
    font-weight: 400;
    margin-bottom: 10px;
    font-size: medium;
}

.hero-section-title {
    font-family: var(--poppins-reg);
    font-weight: 700;
    font-size: xx-large;
}

.hero-section-subtitle {
    font-family: var(--poppins-reg);
    font-weight: 500;
    font-size: medium;

}